{% extends "armydbapp/soldier_admin_base.html" %}
{% block content %}
<form action="{% url 'armydbapp:submit_sub_officer' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div>
    <div class="h1 mb-5" style="position: relative; left: 80%;">إضافة صف ضابط</div>
    <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon3">الاسم</span></div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="sub_officer-name">
    </div>
    <div class="input-group mb-3" dir="rtl" >
        <div class="input-group-prepend" style="padding-left: 10px;">
          <span class="input-group-text" id="inputGroupFileAddon01" style="text-align:right;" >الصورة:   </span>
        </div>
        
        <div class="custom-file">
          <input type="file"  name="sub_officer-img">
        </div>
      </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon3">رقم تحقيق الشخصية العسكرية</span></div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="sub_officer-id">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon3">رقم الهاتف</span></div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="sub_officer-mobile-number">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"><span class="input-group-text" id="basic-addon3">العنوان</span></div>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="sub_officer-adress">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">الدرجة</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" name="sub_officer-rank">
        
        <option value="مساعد أول">مساعد أول</option>
        <option value="مساعد">مساعد</option>
        <option value="رقيب أول">رقيب أول</option>
        <option value="رقيب">رقيب</option>
        <option value="عريف">عريف</option>
       
      </select>
  </div>  
    <div class="input-group mb-3">
      <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">التخصص</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01" name="sub_officer-speciality">
        <option value="مراقب جوي">مراقب جوي</option>
        <option value="تدريب المهني">تدريب المهني</option>
        <option value="صف">صف</option>
        <option value="كاتب عسكري">كاتب عسكري</option>
        <option value="راصد و مسجل">راصد و مسجل</option>
        <option value="اشارة دجو">اشارة دجو</option>
        <option value="خدمات طبية">خدمات طبية</option>
        <option value="سائق">سائق</option>
        <option value="طاهي">طاهي</option>
        <option value="مركبات">مركبات</option>
        <option value="مهني مركبات">مهني مركبات</option>
        <option value="كهربائي مركبات">كهربائي مركبات</option>
        <option value="مركبات هيئة">مركبات هيئة</option>
        <option value="مركبات عجل">مركبات عجل</option>
        <option value="تعينات">تعينات</option>
        <option value="اشارة قوات مسلحة">اشارة قوات مسلحة</option>
        <option value="اسلحة و ذخيرة">اسلحة و ذخيرة</option>
        <option value="مهمات">مهمات</option>
        
                 
      </select>
  </div>  
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">التمركز</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" name="sub_officer-army-unit-name">
          <option value="قيادة الكتيبة">قيادة الكتيبة</option>
          <option value="قيادة السرية الأولي">السرية الأولي</option>
          <option value="قيادة السرية الثانية">السرية الثانية</option>
          <option value="قيادة السرية الثالثة">السرية الثالثة</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon3">تاريخ الضم</span></div>
        <input type="date" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="sub_officer-service-start-date">
    </div>
    <button class="btn btn-success" type="submit" style="width:100%;">موافـــق</button>
</div>
</form>
{% endblock content %}