{% extends "armydbapp/soldier_admin_base.html" %}
{% block content %}
{% load static %}

<style>

.pagination {
    text-align: center;
    margin-top: 1em;
    justify-content: center !important;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;
}

.pagination-number:hover, .pagination-current {
    background-color: #3354AA;      
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.5em;
    color: black !important;
    background-color: #3354AA; 
    font-size: 1.3em;
}
.pagination-number:hover { color: #fff}

.pagination-action:hover, .pagination-previous, .pagination-next {
    color: #3354AA;  
}


 table tr th {
    font-size: 2px;
    background-color:#00d1b2;
  }
  

  
  li {
      float: right;
  }
  
  li a, .dropbtn {
      display: inline-block;
      color: black;
      text-align: center;
      
      text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(4, 0, 255);
  }
  
  li.dropdown {
      display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      color: black;
      padding: 12px 10px;
      text-decoration: none;
      display: block;
      text-align: right;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .dropbtn {
      width: 160px;
  }

  .dropdown-menu{
    text-align: center;
  }

  </style>
<div class="container">
  <div class="row justify-content-center mb-5">
      <div >
          <a type="button" class="btn btn-primary mx-1" href="{% url 'armydbapp:sarfaya_list' %}">موقف اخر صرفية</a>
      </div>
      <div >
          <a type="button" class="btn btn-primary mx-1" href="{% url 'armydbapp:mashro3_agaza' %}">مشروع الاجازة</a>
      </div>
      <div >
          <a type="button" class="btn btn-primary mx-1" href="{% url 'armydbapp:katiba_headquart' %}">قيادة الكتيبة</a>
      </div>
      <div>
          <a type="button" class="btn btn-primary mx-1" href="{% url 'armydbapp:add_soldier' %}">إضافة جندي</a>
      </div>
            <div class="dropdown dropleft float-left is-hoverable mx-1">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  دفعات الرديف
                </button>
                <div class="dropdown-menu is-hoverable">
                  {% for dof3a in dof3at %}
                  <form action="{% url 'armydbapp:dof3a_radif' %}" method="post">
                      {% csrf_token %}
                      <input type="date" class="form-control"  name="dof3a" value='{{dof3a|date:"Y-m-d"}}' hidden>
                      <button class="dropdown-item" type="submit" >{{dof3a|date:"Y/n/j"}}</button>   
                  
                  </form>

                  {% endfor%}
                </div>
            </div>
            
</div>
</div>

<div class="pagination mb-4">

  {% if soldier_list.has_previous %}
    <a class="pagination-action arabic" href="?page=1">
     <i class="fa fa-angle-double-right" aria-hidden="true"></i>
    </a>
    <a class="pagination-action arabic" href="?page={{ soldier_list.previous_page_number }}">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  {% endif %}

  {% for num in soldier_list.paginator.page_range %}

    {% if soldier_list.number == num %}
    <span class="pagination-number pagination-current arabic mx-1">{{ num }}</span>
    {% elif num > soldier_list.number|add:'-3' and num < soldier_list.number|add:'3' %}
    <a class="pagination-number arabic mx-1" href="?page={{ num }}">{{ num }}</a>
    {% endif %}

  {% endfor %}

  {% if soldier_list.has_next %}
    <a class="pagination-action arabic" href="?page={{ soldier_list.next_page_number }}">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
    <a class="pagination-action arabic" href="?page={{ soldier_list.paginator.num_pages }}">
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
    </a>
  {% endif %}

</div> 


<div class="table-responsive">
<table class="table table-bordered" style="text-align:center;" dir="rtl">
    <thead >
      <tr>
        <th class="border" scope="col" style="text-align: center;">م</th>
        <th class="border" scope="col" style="text-align:center;">الاسم</th>
        <th class="border" scope="col" style="text-align: center;">الرقم العسكري</th>
        <th class="border" scope="col" style="text-align: center;">التمركز</th>
       <th class="border" scope="col" style="text-align: center;">النقطة المتواجد بها</th>
        <th class="border" scope="col" style="text-align: center;" >تاريخ التجنيد</th>
        <th class="border" scope="col" style="text-align: center;" >تاريخ التسريح</th>
        <th class="border" scope="col" style="text-align: center;">التخصص</th>
        <th class="border" scope="col" style="text-align:center;">العنوان</th>
        <th class="border" scope="col" style="text-align:center;">اخر عودة</th>
        <th class="border" scope="col" style="text-align:center;">الكتيبة المنقول إليها</th>
<!-- 		<th class="border" scope="col" style="text-align:center;">رقم الهاتف</th>
 -->        <th class="border" scope="col"></th>
        
        
        
        
      </tr>
    </thead>
    <tbody>
      {% for soldier in soldier_list %}
      
        <tr id={{soldier.id}}>
          <td class="arabic border">
              {{forloop.counter0|add:soldier_list.start_index }} 
          </td>
          <td class="border" style="text-align: center; min-width: 250px;">
            <a href="{% url 'armydbapp:soldier_information' %}?soldier_id={{soldier.soldier_id}}">{{soldier.name}}</a>
            {% if soldier.is_at_vacation %}
              <br><span class="badge badge-secondary">تاريخ العودة: {{soldier.return_date|date:"Y/n/j"}}</span>
            {% endif %}
            {% if soldier.is_at_vacation_sick %}
              <br><span class="badge badge-secondary">!!!اجازة مرضية!!!</span>
            {% endif %}
            {% if soldier.is_awaiting_trial %}
              <br><span class="badge badge-secondary">!!!منتظر مكتب!!!</span>
              <br><span class="badge badge-secondary">السبب : {{soldier.reason_awaiting_trial}}</span>
            {% endif %}
            {% if soldier.is_absent %}
              <br><span class="badge badge-secondary">!!!غيــــاب!!!</span>
            {% endif %}
            {% if soldier.is_out %}
              <br><span class="badge badge-secondary">!!!{{soldier.outing_type}}!!!</span>
            {% endif %}
            {% if soldier.is_in_mission %}
              <br><span class="badge badge-secondary">!!!{{soldier.mission_type}}!!!</span>
            {% endif %}
            {% if soldier.is_rewarded and soldier.reward_days > 0 %} 
              <br><span class="badge badge-secondary">عدد أيام المنحة: {{soldier.reward_days}} </span>
            {% endif %}
            {% if soldier.is_at_punishment == True %} 
                {% for p in soldiers_punishments %}
                  {% if p.soldier == soldier %}
                    <br><span class="badge badge-secondary">نوع العقوبة: {{p.punishment}}</span>
                    <br><span class="badge badge-secondary">تاريخ بدأ العقوبة: {{p.start_date|date:"Y/n/j"}} </span>
                    <br><span class="badge badge-secondary">تاريخ نهاية العقوبة: {{p.end_date|date:"Y/n/j"}}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
          </td>
          <td class="arabic border">{{soldier.soldier_id}}</td>
          
          <td class="arabic border" >{{soldier.current_army_unit}}</td>
          {% if soldier.current_army_unit == "قيادة الكتيبة" %}
            <td class="arabic border" >  -  </td>
          {% endif %}
          {% if soldier.current_army_unit != "قيادة الكتيبة" %}
          <td class="arabic border" >{{soldier.point}}</td>
          {% endif %}
          <td class="arabic border">{{soldier.service_start_date|date:"Y/n/j"}}</td>
          <td class="arabic border">{{soldier.service_end_date|date:"Y/n/j"}}</td>
          <td>{{soldier.speciality}}</td>
          <td class="arabic border" style="text-align: center;">{{soldier.adress}}</td>
          <td class="arabic border">{{soldier.return_date|date:"Y/n/j"}}</td>
		  <td class="arabic border" style="text-align: center;">{{soldier.zucchini}}</td>

          <td class="border">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn"><img src="{% static 'armydbapp/images/s1.png' %}" alt="dropdownicon" height="42" width="42"></a>
                <div class="dropdown-content">
                    {% if soldier.current_army_unit == "قيادة الكتيبة" %}
                    <a  href="{% url 'armydbapp:present' %}?soldier_id={{soldier.soldier_id}}">حضر من الغياب</a>
                    <a  href="{% url 'armydbapp:add_work_assigned' %}?soldier_id={{soldier.soldier_id}}">إضافة العمل المكلف به</a>
                    <a  href="{% url 'armydbapp:add_job' %}?soldier_id={{soldier.soldier_id}}">إضافة الحرفة</a>
                    {% endif %}
                    <a  href="{% url 'armydbapp:add_zucchini' %}?soldier_id={{soldier.soldier_id}}">الكتيبة المنقول اليها</a>
                    <a  href="{% url 'armydbapp:add_img' %}?soldier_id={{soldier.soldier_id}}">إضافة صورة</a>
                    <a  href="{% url 'armydbapp:add_promotion' %}?soldier_id={{soldier.soldier_id}}">إضافة ترقي</a>
                    <a  href="{% url 'armydbapp:add_reward' %}?soldier_id={{soldier.soldier_id}}">إضافة منحة</a>
                    <a  href="{% url 'armydbapp:reward_consumed' %}?soldier_id={{soldier.soldier_id}}">تم منحه</a>
                    <a  href="{% url 'armydbapp:add_vacation' %}?soldier_id={{soldier.soldier_id}}">إجازة</a>
                    <a  href="{% url 'armydbapp:add_vacation_sick' %}?soldier_id={{soldier.soldier_id}}">إجازة مرضية</a>
                    <a  href="{% url 'armydbapp:mission' %}?soldier_id={{soldier.soldier_id}}">إضافة مأمورية</a>
                    <a  href="{% url 'armydbapp:no_mission' %}?soldier_id={{soldier.soldier_id}}">إزالة مأمورية</a>
                    <a  href="{% url 'armydbapp:outing' %}?soldier_id={{soldier.soldier_id}}">إضافة إلي خوارج ثابتة</a>
                    <a  href="{% url 'armydbapp:no_outing' %}?soldier_id={{soldier.soldier_id}}">ازالة من خوارج ثابتة</a>
                    <a  href="{% url 'armydbapp:change_army_unit' %}?soldier_id={{soldier.soldier_id}}">تغيير التمركز</a>
                    <a  href="{% url 'armydbapp:mawkaf_a5eir_sarfaya' %}?soldier_id={{soldier.soldier_id}}">موقف اخر صرفية</a>
                    <a  href="{% url 'armydbapp:add_punishment' %}?soldier_id={{soldier.soldier_id}}">إضافة عقوبة</a>
                    <a  href="{% url 'armydbapp:awaiting_trial' %}?soldier_id={{soldier.soldier_id}}">منتظر مكتب</a>
                    <a  href="{% url 'armydbapp:trial_done' %}?soldier_id={{soldier.soldier_id}}">تم عرضه</a>
                    <a  href="{% url 'armydbapp:absent' %}?soldier_id={{soldier.soldier_id}}">غيــــاب</a>
                    <a  href="{% url 'armydbapp:delete_soldier' %}?soldier_id={{soldier.soldier_id}}">مسح بيانات الجندي</a>
                </div>
            </li>
        </td>
                    
        </tr>
        {% if soldier.is_rewarded and soldier.is_at_vacation == False and soldier.reward_days > 0 %}
          <script>document.getElementById("{{soldier.id}}").style.backgroundColor="green";</script>
        {% endif %}
        {% if soldier.is_at_vacation == True %}
          <script>document.getElementById("{{soldier.id}}").style.backgroundColor="yellow";</script>
          {% if soldier.is_rewarded and soldier.is_at_vacation and soldier.reward_days > 0 %}
          <script>document.getElementsByClassName("reward-days")[0].style.backgroundColor="green";</script>
          {% endif %}
        {% endif %}
        {% if soldier.is_at_punishment %}
        <script>document.getElementById("{{soldier.id}}").style.backgroundColor="red";</script>
        <script>document.getElementById("{{soldier.id}}").style.color="white";</script>
        {% endif %}
    {% endfor %}
    <td style="height: 800px"></td>
    </tbody>
    
</table>  
</div>
</div>
</div>

{% endblock content %}