.login-container{
    width: 30rem;
    margin: 0 auto;
}

.login-header{
    font-size: 2.5rem;
    border: 0.1rem solid #00d1b2 !important;
    border-bottom: none !important;
    background-color: #00d1b2 !important;
}

.login-form{
    border: 0.1rem solid #00d1b2;
}

.login-label{
    font-size: 1.35rem;
}

.login-form-button{
    margin-top: 1.5rem;
    border-color: #00d1b2 !important;
    color: #00d1b2 !important;
    font-size: 1.35rem;
}

.login-form-button:hover{
    background-color: #00d1b2 !important;
    color: white !important;
}

.login-error{
    font-size: 1.35rem;
    text-align: center;
    color: darkred;
}